
.siteName{
    font-size: 30px;
    color:blue;
    background-color:lightgray;
    text-align:center;
    width:100%;
    padding:10px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    border-radius:20px;
}

.toUse {
    color:rgb(88, 73, 4);
    background-color:lightgray;
    border-radius:20px;
    font-size: 18px;
    font-weight:bold;
    font-family: 'Anton', sans-serif;
    line-height:20px;
    padding:15px;
    margin:2%;
    letter-spacing:1px;

}

#buttonSection {
    display:block;
    margin-right: auto;
    margin-left:auto;
    margin-top:2%;
    margin-bottom:2%;
    font-family: 'Anton', sans-serif;
    
}

.buttonRow {
    border-top:2px solid blue;
    border-bottom:2px solid blue;
}

.ratingStyle{
    font-size:20px;
    color:blue;
    background-color:lightgray;
    border-radius:20px;
    text-align:center;
}

.animalButt {
    margin:6px;
    border-radius:20px;
    color:blue;
    background-color:lightgray;
    font-size:22px;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    transition: box-shadow .5s;
    padding:7px;
}

#add-animal-form {
    display:block;
    margin-right: auto;
    margin-left:auto;
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}

.animalButt:hover{
    box-shadow: 15px 15px 15px rgba(0,0,0,.5);
    cursor:pointer;
}

#imgArea {
    display:block;
    margin-right:auto;
    margin-left: auto;
   
    
}

.imgStyle {
    margin:10px;
    border:2px solid blue;
    display:block;
    margin-right:auto;
    margin-left: auto;
    
}